<div class="login-section">
    <div class="row justify-content-center">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header" style="text-align: center">
                    <h4>Password change</h4>
                </div>
                <div class="card-body">
                    <form [formGroup]="passwordChangeForm" (ngSubmit)="setNewPassword()">
                        <div class="form-group row">
                            <label for="oldPassword" class="col-md-4 col-form-label text-md-right">Old password</label>
                            <div class="col-md-6">
                                <input type="password" id="oldPassword" class="form-control"
                                    [formControlName]="'oldPassword'" name="oldPassword" required autofocus>
                                <span
                                    *ngIf="!passwordChangeForm.get('oldPassword').valid && passwordChangeForm.get('oldPassword').touched">
                                    Please provide you old password
                                </span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="newPassword" class="col-md-4 col-form-label text-md-right">New password</label>
                            <div class="col-md-6">
                                <input type="password" id="newPassword" class="form-control"
                                    (change)="onPasswordChange()" [formControlName]="'newPassword'" name="newPassword"
                                    required>
                                <span
                                    *ngIf="!passwordChangeForm.get('newPassword').valid && passwordChangeForm.get('newPassword').touched">
                                    Please provide you new password
                                </span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="confirmNewPassword" class="col-md-4 col-form-label text-md-right">Confirm new
                                password</label>
                            <div class="col-md-6">
                                <input type="password" id="confirmNewPassword" (change)="onPasswordChange()"
                                    class="form-control" [formControlName]="'confirmNewPassword'"
                                    name="confirmNewPassword" required>
                                <span
                                    *ngIf="!passwordChangeForm.get('confirmNewPassword').valid && passwordChangeForm.get('confirmNewPassword').touched">

                                </span>
                                <span *ngIf="confirm_password.hasError('mismatch')">Password do not match.</span>
                            </div>
                        </div>

                        <span class="col-md-6 offset-md-4" *ngIf="confirm_password.getError('mismatch') == null">
                            <button type="submit" class="login" mat-raised-button>
                                Submit
                            </button>
                        </span>
                        <div class="login-failed" *ngIf='this.isError'>
                            <p class="login-failed-text">Inccorect password</p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>