table {
  width: 100%;
}

th {
  width: 100px;
}
th.mat-sort-header-sorted {
  color: black;
}

.positive {
  color: green;
  flex: 0 0 10px;
}

.negative {
  color: red;
  flex: 0 0 10px;
}

.customWidthClass{
  flex: 0 0 75px;
}

.mat-column-date{
  flex: 0 0 58%;
}

.income-box {
font-size:10px;
font-weight:bold;
letter-spacing:0px;
background:#6ca00c;
color:white;
display: block;
border: 1px solid #000;
text-align: center;
padding-top: 14
px;
}
.display-year{
font-size:20px;
font-weight:bold;
letter-spacing:0px;
display: block;
text-align: center;
padding-top: 14px;
}

.expense-box{
  font-size:10px;
  font-weight:bold;
  letter-spacing:0px;
  background:#dd4e4e;
  color:white;
  display: block;
  border: 1px solid #000;
  text-align: center;
  padding-top: 14px;
}
.percentage-box{
  font-size:10px;
  font-weight:bold;
  letter-spacing:0px;
  background:#2E688A;
  color:white;
  display: block;
  border: 1px solid #000;
  text-align: center;
  padding-top: 14px;
}
.filler-text{
  font-size:10px;
  font-weight:bold;
  letter-spacing:0px;
  text-align: center;
  padding-top: 14px;
}
.calc-section{
  padding-top: 10px;
}

.test{
  display: flex;
  justify-content: space-around;


}
.custom-button {
  border-color: #e7e7e7;
  border: 2px solid #e7e7e7;
  background-color:white;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 3px;
}
.cancel-filter{
  border-color: black;
}
.custom-button:hover {
  background-color:  #e7e7e7; /* Green */
  border: 2px solid #e7e7e7;
  text-transform: none;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.example-button-row {
  display: table-cell;
  width: 100%;
}

section {
  display: table;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}


