<div class="container-fluid">
  <form ngNativeValidate [formGroup]="addExpenseForm" (ngSubmit)="add()">
    <div class="radio_toggle">

      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" (click)="toggle()" checked name="ffStatus" value="radio1" class="custom-control-input"
          id="defaultInline1" name="inlineDefaultRadiosExample">
        <label class="custom-control-label" for="defaultInline1">Expense</label>
      </div>

      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" (click)="toggle()" name="ffStatus" value="radio2" class="custom-control-input"
          id="defaultInline2" name="inlineDefaultRadiosExample">
        <label class="custom-control-label" for="defaultInline2">Income</label>
      </div>
    </div>
    <div class="form-row add-expense">
      <div class="form-group col-md-3">
        <label for="value">Amount</label>
        <input required [formControlName]="'value'" type="number" id="value" class="form-control" name="value"
          autofocus>
      </div>
      <div class="form-group col-md-3">
        <label for="date">Date</label>
        <input [formControlName]="'date'" type="date" id="date" class="form-control" [formControlName]="'date'"
          name="date" required autofocus>
      </div>
      <div *ngIf="incomeTypeCheck" class="form-group col-md-2">
        <label for="category">Category</label>
        <select id="category" class="form-control" [formControlName]="'category'">
          <option *ngFor="let exCategory of expenseCategory" [value]="exCategory.value">{{exCategory.viewValue}}
          </option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label for="description">Description ({{numberOfCharacters1}} / {{maxNumberOfCharacters}})</label>
        <textarea (keyup)="onKeyUp($event)" maxlength="50" [formControlName]="'description'" class="form-control"
          id="description" placeholder="Short description..."></textarea>
      </div>
    </div>
    <button type="submit" class="btn btn-dark">ADD</button>
  </form>
</div>